<div class="mambe-chat">

  @if (isOpen) {

    <section
      class="mambe-chat__panel"
      aria-label="Asistente Mambe"
    >

      <header class="mambe-chat__header">

        <div class="mambe-chat__identity">

          <div class="mambe-chat__avatar">

            <img
              ngSrc="assets/images/maestro-mambe.png"
              width="80"
              height="100"
              alt="Maestro Mambe"
            >

          </div>

          <div>

            <strong>
              Maestro Mambe
            </strong>

            <span>
              <i></i>
              Asistente de Mambe
            </span>

          </div>

        </div>


        <button
          type="button"
          class="mambe-chat__close"
          (click)="closeChat()"
          aria-label="Cerrar chat"
        >
          ×
        </button>

      </header>


      <div
        #messagesBox
        class="mambe-chat__messages"
        aria-live="polite"
      >

        @for (
          message of messages;
          track $index
        ) {

          <div
            class="mambe-chat__message"
            [class.mambe-chat__message--user]="message.sender === 'user'"
          >

            @if (message.sender === 'bot') {

              <div class="mambe-chat__mini-avatar">

                <img
                  ngSrc="assets/images/maestro-mambe.png"
                  width="42"
                  height="54"
                  alt=""
                >

              </div>

            }


            <div class="mambe-chat__bubble">

              <p>
                {{ message.text }}
              </p>


              @if (message.actions?.length) {

                <div class="mambe-chat__message-actions">

                  @for (
                    action of message.actions;
                    track action.label
                  ) {

                    <a
                      [href]="action.url"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {{ action.label }}
                    </a>

                  }

                </div>

              }

            </div>

          </div>

        }


        <!-- ESCRIBIENDO -->

        @if (isTyping) {

          <div class="mambe-chat__message">

            <div class="mambe-chat__mini-avatar">

              <img
                ngSrc="assets/images/maestro-mambe.png"
                width="42"
                height="54"
                alt=""
              >

            </div>


            <div
              class="mambe-chat__bubble mambe-chat__typing"
              aria-label="Maestro Mambe está escribiendo"
            >

              <span></span>
              <span></span>
              <span></span>

            </div>

          </div>

        }

      </div>


      <div class="mambe-chat__quick">

        @for (
          question of quickQuestions;
          track question
        ) {

          <button
            type="button"
            [disabled]="isTyping"
            (click)="sendQuick(question)"
          >
            {{ question }}
          </button>

        }

      </div>


      <form
        class="mambe-chat__composer"
        (ngSubmit)="sendTyped()"
      >

        <input
          type="text"
          name="message"
          [(ngModel)]="draft"
          [disabled]="isTyping"
          placeholder="Pregúntame algo..."
          autocomplete="off"
          aria-label="Escribe tu pregunta"
        >


        <button
          type="submit"
          [disabled]="isTyping"
          aria-label="Enviar pregunta"
        >
          ➜
        </button>

      </form>

    </section>

  }


  <button
    type="button"
    class="mambe-chat__launcher"
    [class.mambe-chat__launcher--open]="isOpen"
    (click)="toggleChat()"
    aria-label="Abrir asistente Mambe"
  >

    <span class="mambe-chat__launcher-avatar">

      <img
        ngSrc="assets/images/maestro-mambe.png"
        width="68"
        height="84"
        alt=""
      >

    </span>


    <span class="mambe-chat__launcher-label">
      Pregúntanos
    </span>


    <i class="mambe-chat__online"></i>

  </button>

</div>