<header
  class="navbar"
  [class.navbar--scrolled]="scrolled"
  [class.navbar--open]="menuOpen"
>

  <div class="container navbar__inner">

    <!-- LOGO -->
    <button
      class="navbar__brand"
      type="button"
      aria-label="Ir al inicio"
      (click)="scrollTo('inicio')"
    >

      <img
        ngSrc="assets/images/logo-mambe.png"
        width="280"
        height="120"
        alt="Mambe Hamburguesería"
        priority
      >

    </button>


    <!-- MENÚ ESCRITORIO -->
    <nav
      class="navbar__desktop"
      aria-label="Navegación principal"
    >

      @for (link of links; track link.target) {

        <button
          type="button"
          (click)="scrollTo(link.target)"
        >
          {{ link.label }}
        </button>

      }

    </nav>


    <!-- MENÚ CELULAR -->
    <button
      class="navbar__toggle"
      type="button"
      [attr.aria-expanded]="menuOpen"
      aria-controls="mobile-menu"
      aria-label="Abrir o cerrar el menú"
      (click)="toggleMenu()"
    >

      <span></span>
      <span></span>
      <span></span>

    </button>

  </div>


  <!-- MENÚ MÓVIL -->
  <div
    id="mobile-menu"
    class="navbar__mobile"
    [attr.aria-hidden]="!menuOpen"
  >

    <nav aria-label="Navegación móvil">

      @for (
        link of links;
        track link.target;
        let index = $index
      ) {

        <button
          type="button"
          (click)="scrollTo(link.target)"
        >

          <span>
            0{{ index + 1 }}
          </span>

          {{ link.label }}

        </button>

      }

    </nav>

  </div>

</header>