<section
  id="galeria"
  class="products"
  aria-labelledby="products-title"
>

  <div class="container">

    <div class="products__header">

      <h2 id="products-title">
        Productos <span>destacados</span>
      </h2>

      <p>
        Descubre algunos de nuestros productos Mambe:
        hamburguesas y opciones para compartir,
        preparadas con ingredientes llenos de sabor.
      </p>

    </div>


    <div class="products__grid">

      @for (
        product of products;
        track product.name;
        let index = $index
      ) {

        <article
          class="product-card"
          appReveal
          [revealDelay]="index * 70"
        >

          <div class="product-card__image">

            <img
              [ngSrc]="product.image"
              width="900"
              height="900"
              [alt]="product.alt"
            >

          </div>


          <div class="product-card__content">

            <h3>
              {{ product.name }}
            </h3>

            <p>
              {{ product.description }}
            </p>

          </div>

        </article>

      }

    </div>

  </div>

</section>